<% content_for(:css) do -%>
  <%= stylesheet_link_tag 'listings/index' %>
<% end -%>

<% if @listing.from_external_source? %>

<% content_for(:js) do -%>
  <%= javascript_include_tag "xl_suite/form_handler" %>
  <%= javascript_tag "new XlSuite.FormHandler();" %>
<% end -%>

<h1>Editing Listing</h1>

<div class="propListingWrap">
  <% inline_form_for(:listing, @listing, :url => listing_path(@listing), :method => :put, :html => {}) do |f| %>
    <h2 class="listingHeader">
      <%= link_to(render_listing_address_area_city_and_zip(@listing), listing_path(@listing)) %>
    </h2>  
    <h3 class="listingHeader">
      <%= render_listing_size_style_and_price(@listing) %>
    </h3>
      <table class="lp">
          <tr class="spacer">
            <th class="leftColumn"></th>
            <th class="rightColumn"/>
          </tr>
          <tr>
            <td class="bold"><%= check_box_tag "listing_ids[]", @listing.id %>&nbsp;MLS Number</td>
            <td><%= link_to(h(@listing.mls_no), edit_listing_path(@listing)) %></td>
          </tr>
          <tr>
            <td class="bold">List Date</td>
            <td><%= h(@listing.list_date) %></td>
          </tr>
          <tr>
            <td class="bold">Last Transaction</td>
            <td><%= h(@listing.last_transaction) %></td>
          </tr>
          <tr>
            <td class="bold">Status</td>
            <td><%= f.text_field :status %></td>
          </tr>
          <tr>
            <td class="bold">Contact</td>
            <td><%= link_to h(@listing.contact_email), "mailto:#{h(@listing.contact_email)}" %></td>
          </tr>
          <tr>
            <td class="bold">Dwelling Type</td>
            <td><%= h(@listing.dwelling_type) %></td>
          </tr>
          <tr>
            <td class="bold">Dwelling Class</td>
            <td><%= h(@listing.dwelling_class) %></td>
          </tr>
          <tr>
            <td class="bold">Title of Land</td>
            <td><%= h(@listing.title_of_land) %></td>
          </tr>
          <tr>
            <td class="bold">Bedrooms/Bathrooms</td>
            <td><%= render_listing_column(@listing.bedrooms, @listing.bathrooms) %></td>
          </tr>
          <tr>
            <td class="bold">Year Built</td>
            <td><%= h(@listing.year_built) %></td>
          </tr>
          <tr>
            <td class="bold">Images</td>
            <td><%= h(@listing.num_of_images) %></td>
          </tr>
          <tr>
            <td class="bold">Description</td>
            <td><%= f.text_area :description %></td>
          </tr>
          <tr>
            <td class="bold">Extras</td>
            <td><%= f.text_area :extras, :value => @listing.extras.blank? ? "None" : h(@listing.extras) %></td>
          </tr>
          <tr>
            <td class="bold">Tags</td>
            <td><%= f.tags_field :tag_list %></td>
          </tr> 
      </table>
    <div class="propImages">
      <%= render :partial => "thumbnails", :locals => {:listing => @listing} %>
    </div>
    <br class="clear" />
  <% end -%>
</div>

<% else -%>

<h1>Listings - <%= @listing.address ? @listing.address.line1 : "" %></h1>
<div>
  <%= link_to "Manage Views", views_path(@listing) %> | 
  <%= link_to "View Interested Parties" %>
</div>
<% form_for :listing, :url => listing_path(@listing), :html => {:method => :put, :multipart => true} do |f| %>
  <%= render :partial => 'form' %>
<% end %>

<% end -%>