
<%= stylesheet_link_tag "mappers/edit" %>

<div id="import_and_mapper_form">
<% form_for :import, :url => scrape_imports_path do |f| %>
  <% fields_for :import do |i| %>
    <p>
      <label>Force import?</label>
      <%= i.check_box :force %>
    </p>
    <%= i.hidden_field :id %>
  <% end %>
&nbsp; | &nbsp;
  <p>
    Exclude the first&nbsp;
     <%= text_field_tag "mappings[header_lines_count]", (@import && @import.mappings ? (@import.mappings[:header_lines_count] || 0) : 0), :class => "header_lines_count" %>
    &nbsp;data rows
  </p>
&nbsp; | &nbsp;
  <p>
    Exclude record with no email
    <%= check_box_tag "mappings[exclude_no_email]", 1, (@import && @import.mappings ? (@import.mappings[:exclude_no_email].blank? ? false : @import.mappings[:exclude_no_email]) : false) %>
  </p>
  <br class="clear" />
  <p>
    <label>Add Tag(s):</label>
    <%= text_field_tag "mappings[tag_list]", (@import && @import.mappings ? (@import.mappings[:tag_list] || "") : "") %>
  </p>
&nbsp; | &nbsp;
  <p>
    <label>Add To Group:</label>
    <%= select_tag "mappings[group]", "<option value="">None</option>" + options_from_collection_for_select(@groups, "name", "name", (@import && @import.mappings ? (@import.mappings[:group] || "") : "")) %>
  </p>
&nbsp; | &nbsp;
  <p>
    <label>Create Profile for Imports:</label>
    <%= check_box_tag "mappings[create_profile]", 1, (@import && @import.mappings ? (@import.mappings[:create_profile].blank? ? false : @import.mappings[:create_profile]) : false) %>
  </p>

  <br class="clear" />
  <br class="clear" />  
  
<p>Please enter the yellow page site to be scraped</p>
  <br class="clear" />  
  <p>Url: <%= f.text_field :filename, :size => 80 %> </p>
  <p>
    <%= submit_tag "Scrape", :class =>"button" %>
    <%= link_to "Cancel", imports_path %>
  </p>
<% end %>
</div>