<% short_operator_selections = options_for_select([
     ["Equals", "eq"], ["Starts with", "start"], ["Contains", "contain"]], "eq") %>
<% complete_operator_selections = options_for_select([
     ["Equals", "eq"], ["Starts with", "start"], ["Contains", "contain"],
     ["Between", "between"], ["Greater than", "greater"], ["Less than", "less"]
   ], "eq") %>

<%#= render :partial => "listings_menu" %>

<form id="listingsSearchForm<%=@rets_search_future.id.to_s%>" action="<%=update_listings_search_ret_path(:id => @rets_search_future.id)%>" method="POST" class="listCombinedView">
  <input type="hidden" name="_method" value="PUT" />
  <div class="tableHeader">
  <h2>Search Listings</h2>
  </div>
  <br class="clear" />
    
  <table id="listingSearchHeader" class="se_small">
    <tr>
      <th scope="col" width="50%" align="left"></th>
      <th scope="col" width="50%" align="right"></th>
    </tr>
    
    <tr>
      <td class="bold">Table</td>
      <td>
        <%= select_tag("search[resource]", options_for_select(@resources, @search[:resource]), :id => "search_resource") %><%= throbber(:search_resource_indicator) %>
      </td>
    </tr>
    
    <tr>
      <td class="bold">Class</td>
      <td>
        <%= select_tag("search[class]", options_for_select(@classes, @search[:class]), :id => "search_class") %><%= throbber(:search_class_indicator) %>
      </td>
    </tr>
    
    <tr>
      <td class="bold">Measurement System</td>
      <td>
        <select>
          <option>Metric</option>
          <option selected="selected">Imperial</option>
        </select>
      </td>
    </tr>
    
    <tr>
      <td class="bold">Search Results Limit</td>
      <td>
        <%= text_field_tag("search[limit]", @search[:limit], :size => 3, :class => "text int_small", :value => @rets_search_future.args[:search][:limit]) %>
        <%= hidden_field_tag "last_counter_of_search_lines", 15 %>
      </td>
    </tr>
  </table>
  <br class="clear" />

  <table id="listingSearchLines" class="">
    <tr class="tableheader">
      <th scope="col" width="30%" align="left"></th>
      <th scope="col" width="10%"></th>
      <th scope="col" width="60%" align="right"></th>
    </tr>
    
    <!-- MLS Number -->
    <tr>
      <td class="bold">
        MLS Number
        <%= hidden_field_tag "line[1][field]", @mls_number_field.value %>
      </td>
      <td>
        <%= select_tag "line[1][operator]", complete_operator_selections, :onchange => "showLineToInputField(this)", :class => "operator_med" %>
      </td>
      <td>
        <%= text_field_tag "line[1][from]", "", :class => "text" %>&nbsp;
        <span style="display:none;">and:&nbsp;<%= text_field_tag "line[1][to]", "", :class => "inline text" %></span>
      </td>
    </tr>
    
    <!-- List Date -->
    <tr>
      <td class="bold">
        List Date
        <%= hidden_field_tag "line[2][field]", @list_date_field.value %>
      </td>
      <td>
        <%= select_tag "line[2][operator]", complete_operator_selections, :onchange => "showLineToInputField(this)", :class => "operator_med" %>
      </td>
      <td>
        <%= text_field_tag "line[2][from]", "", :class => "text" %>&nbsp;
        <span style="display:none;">and:&nbsp;<%= text_field_tag "line[2][to]", "", :class => "inline text" %></span>
      </td>
    </tr>

    
    <tr>
      <td class="bold">
        Status
        <%= hidden_field_tag "line[3][field]", @status_field.value %>
        <%= hidden_field_tag "line[3][operator]", "eq" %>
      </td>
      <td colspan="2">
        <%= select_tag("line[3][from]",
            content_tag(:option, "*** Any Value", :value => ".ANY.") +
            options_for_select(@status) +
            content_tag(:option, "*** No value", :value => ".EMPTY.")) %>
        <%= hidden_field_tag "line[3][to]", "" %>
      </td>
    </tr>

    <tr>
      <td class="bold">Search by using:</td>
      <td colspan="2"><%= select_tag("search_using", options_for_select(["Google Map", "Manual Address"]), :id => "area_chooser_selection_"+@rets_search_future.id.to_s)%></td>
    </tr>

    <tr class="gmap">
      <td class="bold">
        Area Selection
        <p class="help">Select an area within which listings will be searched for.</p>
        <%= hidden_field_tag "area_points", "", :id => "area_points_"+@rets_search_future.id.to_s %>
      </td>
      <td colspan="2">
        <div class="gmap" id="map_canvas_controls">
          <p>
            <%= link_to_function("Highlight region", '$("listing_search_map_canvas_'+@rets_search_future.id.to_s+'").googleMap.createRegion()') %>
            <%= link_to_function("Clear all markers", '$("listing_search_map_canvas_'+@rets_search_future.id.to_s+'").googleMap.clearRegion()') %>
          </p>
        </div>
        <div class="gmap" id="listing_search_map_canvas_<%=@rets_search_future.id%>" style="height:400px;width:400px;"></div>
      </td>
    </tr>

    <tr class="address">
      <td class="bold">
        City
        <%= hidden_field_tag "line[4][field]", @city_field.value %>
        <%= hidden_field_tag "line[4][operator]", "eq" %>
      </td>
      <td colspan="2">
        <%= select_tag("line[4][from]",
            content_tag(:option, "*** Any Value", :value => ".ANY.") +
            options_for_select(@cities) +
            content_tag(:option, "*** No value", :value => ".EMPTY.")) %>
        <%= hidden_field_tag "line[4][to]", "" %>
      </td>
    </tr>

    <tr class="address">
      <td class="bold">
        Area
        <%= hidden_field_tag "line[5][field]", @area_field.value %>
        <%= hidden_field_tag "line[5][operator]", "eq" %>
      </td>
      <td colspan="2">
        <%= select_tag("line[5][from]",
            content_tag(:option, "*** Any Value", :value => ".ANY.") +
            options_for_select(@areas) +
            content_tag(:option, "*** No value", :value => ".EMPTY.")) %>
        <%= hidden_field_tag "line[5][to]", "" %>
      </td>
    </tr>

    <tr class="address">
      <td class="bold">
        Street Address
        <%= hidden_field_tag "line[6][field]", @street_address_field.value %>
      </td>
      <td>
        <%= select_tag "line[6][operator]", short_operator_selections, :class => "operator_med" %>
      </td>
      <td>
        <%= text_field_tag "line[6][from]", "", :class => "text" %>
        <%= hidden_field_tag "line[6][to]", "" %>
      </td>
    </tr>

    <tr class="address">
      <td class="bold">
        Postal Code
        <%= hidden_field_tag "line[7][field]", @postal_code_field.value %>
      </td>
      <td>
        <%= select_tag "line[7][operator]", short_operator_selections, :class => "operator_med" %>
      </td>
      <td>
        <%= text_field_tag "line[7][from]", "", :class => "text" %>
        <%= hidden_field_tag "line[7][to]", "" %>
        <p class="help">Separate multiple postal or zip codes with a comma (90210<strong>, </strong>H1G 3N4)</p>
      </td>
    </tr>
    
    <tr>
      <td class="bold">
        List Price
        <%= hidden_field_tag "line[8][field]", @list_price_field.value %>
      </td>
      <td>
        <%= select_tag "line[8][operator]", complete_operator_selections, :onchange => "showLineToInputField(this)", :class => "operator_med" %>
      </td>
      <td>
        <%= text_field_tag "line[8][from]", "", :class => "text" %>&nbsp;
        <span style="display:none;">and:&nbsp;<%= text_field_tag "line[8][to]", "", :class => "inline text" %></span>
      </td>
    </tr>
    
    <tr>
      <td class="bold">
        Dwelling Style
        <%= hidden_field_tag "line[9][field]", @dwelling_style_field.value %>
        <%= hidden_field_tag "line[9][operator]", "eq" %>
      </td>
      <td colspan="2">
        <%= select_tag("line[9][from]",
            content_tag(:option, "*** Any Value", :value => ".ANY.") +
            options_for_select(@dwelling_styles) +
            content_tag(:option, "*** No value", :value => ".EMPTY.")) %>
        <%= hidden_field_tag "line[9][to]", "" %>
      </td>
    </tr>

    <tr>
      <td class="bold">
        Dwelling Type
        <%= hidden_field_tag "line[10][field]", @dwelling_type_field.value %>
        <%= hidden_field_tag "line[10][operator]", "eq" %>
      </td>
      <td colspan="2">
        <%= select_tag("line[10][from]",
            content_tag(:option, "*** Any Value", :value => ".ANY.") +
            options_for_select(@dwelling_types) +
            content_tag(:option, "*** No value", :value => ".EMPTY.")) %>
        <%= hidden_field_tag "line[10][to]", "" %>
      </td>
    </tr>

    <tr>
      <td class="bold">
        Title of Land
        <%= hidden_field_tag "line[12][field]", @title_of_land_field.value %>
        <%= hidden_field_tag "line[12][operator]", "eq" %>
      </td>
      <td colspan="2">
        <%= select_tag("line[12][from]",
            content_tag(:option, "*** Any Value", :value => ".ANY.") +
            options_for_select(@title_of_lands) +
            content_tag(:option, "*** No value", :value => ".EMPTY.")) %>
        <%= hidden_field_tag "line[12][to]", "" %>
      </td>
    </tr>

    <tr>
      <td class="bold">
        Bedrooms
        <%= hidden_field_tag "line[13][field]", @bedrooms_field.value %>
      </td>
      <td>
        <%= select_tag "line[13][operator]", complete_operator_selections, :onchange => "showLineToInputField(this)", :class => "operator_med" %>
      </td>
      <td>
        <%= text_field_tag "line[13][from]", "", :class => "text" %>&nbsp;
        <span style="display:none;">and:&nbsp;<%= text_field_tag "line[13][to]", "", :class => "inline text" %></span>
      </td>
    </tr>

    <tr>
      <td class="bold">
        Bathrooms
        <%= hidden_field_tag "line[14][field]", @bathrooms_field.value %>
      </td>
      <td>
        <%= select_tag "line[14][operator]", complete_operator_selections, :onchange => "showLineToInputField(this)", :class => "operator_med" %>
      </td>
      <td>
        <%= text_field_tag "line[14][from]", "", :class => "text" %>&nbsp;
        <span style="display:none;">and:&nbsp;<%= text_field_tag "line[14][to]", "", :class => "inline text" %></span>
      </td>
    </tr>

    <tr>
      <td colspan="3">
        <%= link_to_remote "Add Search Parameter", 
            {
               :url => new_search_line_rets_path, :submit => "listingSearchHeader", 
               :before => "$('addNewSearchLineLink_throbber').show()", :loaded => "$('addNewSearchLineLink_throbber').hide()" 
            }, 
            {:id => "addNewSearchLineLink"} %>
        <%= throbber(:addNewSearchLineLink_throbber) %>
      </td>
    </tr>

    <%= render :partial => "listings_search_new_line", :locals => {:index => 15} %>

    <tr>
      <td class="bold">
        Repeat Interval
      </td>
      <td>&nbsp;</td>
      <td>
        <%= text_field_tag "search[repeat_interval]", @rets_search_future.args[:search][:repeat_interval], :class => "text" %>
        <p>Specify a string like <q>2 days</q> or <q>3 hours</q>.  The system will repeat this search every interval.</p>
      </td>
    </tr>
    
    <tr>
      <td class="bold">
        Tag with
      </td>
      <td>&nbsp;</td>
      <td>
        <div class="tag_cloud">
          <%= text_area_tag "search[tag_list]", @rets_search_future.args[:search][:tag_list], :size => "60x4", :id => "tag_list" %>
          <%= throbber("tag_list_throbber") %>
          <div style="display:none" id="tag_list_autocomplete" class="auto_complete"></div>
        </div>
        <ul id="tag_cloud" class="tag_cloud">
          <%= render :partial => "tags/tag", :collection => @common_tags, :spacer_template => "shared/list_comma", :locals => {:apply_to => %w(tag_list)} %>
        </ul>
      </td>
    </tr>

    <tr id="listing_search_submit_button">
      <td class="submit" colspan="3">
        <input type="submit" class="button inline" value="Submit" />
      </td>
    </tr>

  </table>
  <br class="clear" />
</form>
