<p>Thank you for registering at <%= @domain_name %>!</p>
<p>Please click this link to continue with your registration:</p>
<p><%= link_to(@confirmation_url, @confirmation_url) %></p>
<p>Welcome aboard!</p>
<p>
  If you did not make this request, or if you don't want to sign up for <%= @domain_name %>, no further action is required. 
  Please do not respond to this message. If you'd like to contact <%= @domain_name %>, visit our contact page at http://<%= @domain_name %>/contact.
</p>
