<h1>Forgot Password</h1>
<%= show_flash_messages %>
<%= form_tag(forgot_password_affiliate_account_path, :method => "post") %>
  <p>Please input your email address</p>
  <p><label>Email:</label><%= text_field_tag("email_address","") %></p>
  <%= submit_tag "Reset password" %>
</form>
<%= link_to "Back to login", login_affiliate_account_path %>
