<h1>Login</h1>
<%= show_flash_messages %>
<%= form_tag(login_affiliate_account_path, :method => "post") %>
  <p><label>Email:</label><%= text_field_tag("email_address","") %></p>
  <p><label>Password:</label><%= password_field_tag("password", "") %></p>
  <%= submit_tag "Login" %>
</form>
<%= link_to "Forgot password", forgot_password_affiliate_account_path %>
