<div class='product_desc'>
 <p>
  <label>Name:</label>
  <%= f.text_field :name, :use_default_value => false %>
 </p>
 <p>
  <label>Description:</label>
  <%= f.text_area :description, :use_default_value => false %>
 </p>
 <p>
  <label>Classification:</label>
  <%= f.select :classification, Product::ValidClassifications, :use_default_value => true %>
 </p>
 <p>
  <label>Free Period:</label>
  <%= f.text_field :free_period, :use_default_value => false %>
 </p>
 <p>
  <label>Pay Period:</label>
  <%= f.text_field :pay_period, :use_default_value => false %>
 </p>
</div>
<div class='product_metrics'>
 <div class="left">
  <p>
   <label>Wholesale:</label>
   <%= f.text_field :wholesale_price, :use_default_value => false, :value => @product.wholesale_price %>
  </p>
  <p>
   <label>Retail:</label>
   <%= f.text_field :retail_price, :use_default_value => false, :value => @product.retail_price %>
  </p>
  <p>
   <label>Margin:</label>
   <span class="pseudo"><%= @product.margin %>%</span>
  </p>
  <p>
   <label>In Stock:</label>
   <span class="pseudo"><%= @product.in_stock %></span>
  </p>
  <p>
   <label>On Order:</label>
   <span class="pseudo"><%= @product.on_order %></span>
  </p>
 </div> 
 <div class='product_img'>
  <%= link_to_function "Upload", "" %>
 </div>
</div>
<div class="product_id">
 <fieldset>
  <legend>IDs</legend>
   <p>
    <label>Internal:</label>
    <input class="disabled text" value="N/A" disabled="" />
  </p>
  <p>
   <label>ISBN:</label>
   <%= f.text_field :isbn, :use_default_value => false %>
  </p>
  <p>
   <label>Model:</label>
   <%= f.text_field :model, :use_default_value => false %>
  </p>
  <p>
   <label>UPC:</label>
   <%= f.text_field :upc, :use_default_value => false %>
  </p>
  <p>
   <label>RFID:</label>
   <%= f.text_field :rfid, :use_default_value => false %>
  </p>
 </fieldset>
</div>
