<h2 class="page_header">New Supplier</h2>
<div class="ipage supplier_new">
<% inline_remote_form_for(:supplier, @supplier, :url => suppliers_path) do |f| %>
  <div class="supplier_form_buttons">
    <%= submit_tag "Create", :class=> "button" %>
    <%= link_to_function "Cancel", "xl.closeTabPanel('suppliers_new_nil')" %>
  </div>
  <%= render_inside_panel_notifications_container %>
  <%= render :partial => "form", :locals => {:f => f, :show_editor => true} %>  
  <div class="supplier_form_buttons">
    <%= submit_tag "Create", :class=> "button" %>
    <%= link_to_function "Cancel", "xl.closeTabPanel('suppliers_new_nil')" %>
  </div>
<% end %>
</div>