<%= render :partial => "shared/doctype" %>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <%= render :partial => "shared/head" %>
    <%= render_using_extjs_layout %>
    <%= update_notices %>
  </head>
  <body>
    <%= yield %>      
  </body>
</html>
